In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
df=pd.read_csv('insurance_data (1).csv')

In [3]:
df1=df.copy()

In [4]:
df1

    age  bought_insurance
0    22                 0
1    25                 0
2    47                 1
3    52                 0
4    46                 1
5    56                 1
6    55                 0
7    60                 1
8    62                 1
9    61                 1
10   18                 0
11   28                 0
12   27                 0
13   29                 0
14   49                 1
15   55                 1
16   25                 1
17   58                 1
18   19                 0
19   18                 0
20   21                 0
21   26                 0
22   40                 1
23   45                 1
24   50                 1
25   54                 1
26   23                 0

In [14]:
x=df1[['age']]

In [15]:
y=df1['bought_insurance']

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,train_size=0.8,random_state=1)

In [19]:
linear=LinearRegression()

In [20]:
linear.fit(xtrain,ytrain)

LinearRegression()

In [21]:
linear.score(xtest,ytest)

0.4228412070759623

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
logistic=LogisticRegression()

In [24]:
logistic.fit(xtrain,ytrain)

LogisticRegression()

In [25]:
logistic.score(xtest,ytest)

0.8333333333333334